table td img{
    width:auto;
    height:30px;
}

.table-name {
    background-color: #d4a00d;
  }

  .under {
    z-index: -1;
    position: relative;

}

.over {
    z-index: 1;
    position: relative;
    left: -48px;
}